/*Import font*/
  
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #0062be;
    color: white;
}
/*header*/
.section header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px; 
    position: relative;   
}
.section ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
}
.section ul a{
    text-decoration: none;
    margin: 0 0 0 40px;
}
/*Conteudo principal*/
.conteudo{
    display:flex;
    margin: 0 100px;
    justify-content: space-between;
}
.conteudo h2{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.5em;
    position: relative;
    margin: 77px 0 0 0;
}
.conteudo span{
    font-size: 128px;
    font-weight: 900;
    line-height: 1.5em;
    margin: -48px 0 -18px 0px;
}

/*Texto conteudo principal*/
.caixa-texto{
    line-height: 1.5em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: -120px 0px 0px 0px;
}
.caixa-texto p{
    display:flex;
    box-sizing: border-box;
    max-width: 600px;
}
.caixa-texto a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 270px;
}
.caixa-img{
    display: flex;
    padding: 0 0 0 164px;
    
}
/*Icones social*/
.icons{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 -55px 0 0;
}    
.icons li{
    display: flex;
    justify-content:end;
    align-items: center;
    list-style: none;
    margin: 0 0 34px 0;
    cursor:pointer;
}
/*Miniatura das latas*/
.miniaturas{
    display: flex;
    justify-content:center;
    list-style: none;
    
}
.miniaturas li img {
    max-width: 40px;
    margin: 0 20px 20px;
    cursor: pointer;
}
.miniaturas li{
    transition: 0.5s;
}
.miniaturas li:hover {
    margin: 10px;
    margin: -15px 0px 20px;
    transition: 0.5s;     
}
/* resposividade */
@media(max-width:500px){
    body{
        margin:0px 0 0 -45px;
    }
    .caixa-img {
        justify-content: center;
        padding: 0 0 0 164px;
        margin: 0 19px;
        padding: 5px 8px 28px 87px;
    }
    .conteudo{
        justify-content: center;
        flex-direction: column;
    }
    .conteudo h2 {
        font-size: 37px;
        font-weight: 900;
        line-height: 1.5em;
        position: relative;
        margin: 95px 0 0 0;
    }
    .conteudo span{
        font-size: 75px;
        margin: -25px 0 0 0;
    }
    .miniaturas {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 36px 0 0 0;
    }
}